<section id="detail" *ngIf="project">
    <div>
        <h1>{{project.name}}</h1>
    </div> 
    <div class="media" *ngIf="project.image">
        <picture>
            <img src="{{url+'get-image/'+project.image}}">
        </picture>
    </div>
    <div class="data">
        <h3>{{project.description}}</h3>
        <p>{{project.category}}</p>
        <p>{{project.langs}}</p>
        <p>
            <a [routerLink]="['/edit-project', project._id]" class="button-edit">Editar</a><br>
            <a (click)="deleteProject(project._id)" class="button-delete">Borrar</a>
        </p>
    </div>

</section>

