<section id="about">
    <div id="title">
        <h1>{{title}}</h1>
    </div>

    <hr>
    <article class="about-me">
        <img class="profile-photo" src="../../../assets/img/photo-profile-dos.png" />
        <p>
            I am a Full Stack developer with industry experience building websites and web applications. I specialize in
            JavaScript and have professional experience working with Angular. I also have experience working with React
            and Vue js.
            <br/><br/>
            Front End Developer My role is to write and style the front-end components that meet the requirements of our
            mocks and fulfill our user stories. I also monitor and process pull requests for production deployments.
            Technologies used: Angular, JavaScript, ES6, TypeScript, SASS
        </p>
    </article>
</section>