<section id="skillset" class="even">
    <h1>skillset</h1>
    <hr>
    <div id="grip-skillset">
      <div>
        <img src="../assets/img/html-ico.svg"/>
        <span>HTML</span>
      </div>
      <div>
        <img src="../assets/img/css-ico.svg"/>
        <span>CSS</span>
      </div>
      <div>
        <img src="../assets/img/js-ico.svg"/>
        <span>JavaScript</span>
      </div>
      <div>
        <img src="../assets/img/jquery-ico.svg"/>
        <span>jQuery</span>
      </div>
      <div>
        <img src="../assets/img/type-ico.svg"/>
        <span>TypeScript</span>
      </div>
      <div>
        <img src="../assets/img/angular-ico.svg"/>
        <span>Angular</span>
      </div>
      <div>
        <img src="../assets/img/react-ico.svg"/>
        <span>React</span>
      </div>
      <div>
        <img src="../assets/img/vue-ico.svg"/>
        <span>Vue.js</span>
      </div>
      <div>
        <img src="../assets/img/node-ico.svg"/>
        <span>Node.js</span>
      </div>
      <div>
        <img src="../assets/img/sass-ico.svg"/>
        <span>SASS</span>
      </div>
      <div>
        <img src="../assets/img/boots-ico.svg"/>
        <span>Bootstrap</span>
      </div>
      <div>
        <img src="../assets/img/git-ico.svg"/>
        <span>GIT</span>
      </div>
      <div>
        <img src="../assets/img/mongo-ico.svg"/>
        <span>MongoDB</span>
      </div>
      <div>
        <img src="../assets/img/gsap-ico.svg"/>
        <span>GSAP</span>
      </div>
      <div>
        <img src="../assets/img/npm-ico.svg"/>
        <span>npm</span>
      </div>
      <div>
        <img src="../assets/img/aws-ico.svg"/>
        <span>aws</span>
      </div>
    </div>
  </section>
